
<html lang="en">

<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

    <div class="page_container">
        <!--<div class="color-block"></div>-->
      
        <div class="container1  ">

            <div class="row">
        
                <div class="container2" >
                
            </div>
                <div class="   content text-uppercase poppins-font">
                    
                    <div class="border"></div>
                    <h1> i'm Mohamed salim ben omrane . <br>
                        <span>Software  Engineering student</span>
                    </h1>
                  
                    <p>I am a student at INSAT Tunis, with significant skills in design, analysis, and system integration. Teamwork is
                        my priority, and I am capable of managing tasks independently. I possess a strong ability to streamline processes,
                        troubleshoot potential bugs, all while adhering to deadlines.
                        </p>

                        
                        <div class="social-icons">
                            <a href="mohamedsalim.benomrane@insat.ucar.tn" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                          
                            <a href="https://github.com/MedSalimBenOmrane" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="https://linkedin.com/in/mohamed-salim-ben-omrane-15a015287/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                      
                    </div>


                
            </div>
        </div>
    </div>

</body>
