<div class="container">
    <h1 style="text-align: center">Securinets</h1>
    <div class="scroller" data-direction="left" data-speed="slow">
      <div class="scroller__inner">
        <div class="skill">
          <img src="assets/securinets/1.jpg" class="skill" />
        </div>
        <div class="skill">
          <img src="assets/securinets/2.jpg" class="skill" />
          
        </div>
        <div class="skill">
          <img src="assets/securinets/3.jpg" class="skill" />
          
        </div>
        <div class="skill">
          <img src="assets/securinets/4.jpg" class="skill" />
          
        </div>
        <div class="skill">
          <img src="assets/securinets/5.jpg" class="skill" />
          
        </div>
        <div class="skill">
            <img src="assets/securinets/6.jpg" class="skill" />
            
          </div>
          <div class="skill">
            <img src="assets/securinets/7.jpg" class="skill" />
            
          </div>
          <div class="skill">
            <img src="assets/securinets/8.jpg" class="skill" />
            
          </div>
          <div class="skill">
            <img src="assets/securinets/9.jpg" class="skill" />
           
          </div>
          <div class="skill">
            <img src="assets/securinets/10.jpg" class="skill" />
           
          </div>
      </div>
    </div>
    </div>
    