<div class="container">

    <div class="row">
    <div class="content col-lg-8 col-sm-12">
        <h1 >Associative Life</h1>
        <h2 style="font-weight: bolder; color: #ff0000ac;">
            Program Manager (NCSC Securinets )
        </h2>
        <p>
            Founded in 2004 at INSAT, Securinets is today the largest community of students passionate about the field of cybersecurity in Tunisia, with over 3000 alumni and 250 active members at INSAT. Their main objective is to train students in the offensive and defensive aspects of cybersecurity, by organizing workshops and Capture the Flag competitions. In addition, Securinets is dedicated to educating children and high school students on good cybersecurity practices to foster early maturity in new generations.
        </p>
        <div class="client-count-wrp-inner">
            <!-- Existing cards -->
            <!-- New cards for additional statistics -->
            <div class="cards">
                <h4>+{{ eventCount }}</h4>
                <p>Realized Events</p>
            </div>
            <div class="cards">
                <h4>+{{ trainingSessionCount }}</h4>
                <p>Training Sessions</p>
            </div>
            <div class="cards">
                <h4>+{{ participantCount }}</h4>
                <p>Participants Each Year</p>
            </div>
        </div>
        

    </div>
    <div class=" col-lg-4 col-sm-12">
        <app-securnits></app-securnits>
    </div>
</div>
</div>