<div class="container">

    <div class="row">
    <div class="content col-lg-8 col-sm-12">
        <h2>ABOUT ME</h2>
        <p style="font-weight: bolder;">
            ICT engineering student at INSAT
        </p>
        <p>
            Passionate about leveraging cutting-edge technologies to solve real-world problems. Skilled in building and
            tuning various machine learning models and applications.
        </p>
        <ul>

            <li>🧠 TensorFlow: Expertise in designing and training models, including CNNs, RNNs and GANs-based models.</li>
            
            <li>🔍 Transformer Models: Fine-tuned models like BERT for NER and classification tasks.</li>
            <br>
            <li>📚 Innovative and Research-driven: Continuously seeking new knowledge and staying updated with industry trends.</li>
        </ul>

    </div>
    <div class=" col-lg-4 col-sm-12">
        <app-list></app-list>
    </div>
</div>
</div>